*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
li,
figure,
figcaption,
hr {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/**********************/

html,
body,
#content {
    height: 100%;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#content {
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-template-rows: 183px 1fr;
}

#sidebar {
    z-index: 3;
    grid-row: 1 / 3;
    background-color: #6B3F69;
    color: white;
    padding: 25px 0 0 25px;
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);

    display: grid;
    grid-template-rows: 45px 280px 130px;
    gap: 50px;
}

#sidebar > ul {
    font-size: 1.2em;
    font-weight: 600;

    display: grid;
    grid-auto-rows: 30px;
    gap: 20px;
}

#header {
    z-index: 2;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
}

#searchbar {
    padding-left: 25px;

    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 30px;
    align-content: center;
}

#searchbar > img {
    justify-self: center;
    align-self: center;
}

#searchinput {
    background-color: #e2e8f0;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
}

#notifications {
    padding: 0 50px 0 130px;

    display: grid;
    grid-template-columns: 25px 40px 100px;
    align-content: center;
    gap: 30px;
}

#notifications > * {
    justify-self: center;
    align-self: center;
}

#notifications > div {
    width: 40px;
    height: 40px;
    background-color: #59AC77;
    border: none;
    border-radius: 20px;
}

#notifications > p {
    font-weight: 700;
}

#hithere {
    padding-left: 35px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 70px 1fr;
}

#hithere > div:first-of-type {
    width: 70px;
    height: 70px;
    background-color: #59AC77;
    border: none;
    border-radius: 35px;
    align-self: center;
}

#greetings {
    align-self: center;
}

#greetings > p {
    padding-left: 20px;
    font-weight: 700;
}

#greetings > p:first-of-type {
    font-size: 0.8em;
    align-self: end;
}

#greetings > p:last-of-type {
    font-size: 1.5em;
    align-self: start;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-content: center;
    padding: 0 60px 0 25px;
}

#buttons > button {
    background-color: #6B3F69;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 5px 10px 5px;
    font-size: 1em;
}

#main-content {
    z-index: 1;
    background-color: #e2e8f0;
    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

#projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px repeat(3, 1fr);
    gap: 10px;
}

#projects > div {
    grid-row: 2 / 5;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.project-cards {
    background-color: white;
    border-left: 10px solid #59AC77;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.2);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 100px 25px;
    padding: 30px 20px 20px 20px;
}

.project-cards > h3 {
    font-size: 1em;
}

.project-cards > p {
    color: #8b8b8b;
    font-size: 0.9em;
}

.project-cards > div {
    justify-self: right;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

#announcements,
#trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px repeat(3, 1fr);
    gap: 10px;
}

#announcements > div {
    grid-row: 2 / 5;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.2);
    padding: 30px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 68px);
    gap: 10px;
}

.announcements-cards {
    border-bottom: 1px solid lightgray;
}

 .announcements-cards > h3 {
    font-size: 0.8em;
 }

 .announcements-cards > p {
    font-size: 0.75em;
    color: #8b8b8b;
 }

 #trending > div {
    grid-row: 2 / 5;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.2);
    padding: 23px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 60px);
 }

 .friend-cards {
    display: grid;
    grid-template-columns: 60px 1fr;

    font-size: 0.9em;
 }

 .friend-cards > div:first-of-type {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    align-self: center;
}

#doc {
    background-color: #FFC50F;
}

#jennifer {
    background-color: #FDAAAA;
}

#einstein {
    background-color: #A7AAE1;
}

#biff {
    background-color: #E43636;
}

 .friend-cards > div:last-of-type {
    align-self: center;
}

.username {
    font-weight: 600;
}

.name {
    color: #8b8b8b;
}